body {
    font-family: Arial;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    text-align: center;
    color: white;
}

h1 {
    margin-top: 30px;
}

.form-container {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#dataContainer {
    margin-top: 20px;
}
